{% extends 'base.html' %}

{% block content %}

        <h1>Signup</h1>
        <form name='signup' method='POST'>
            <table>
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td><input type='text' name='username' value='{{username}}' /></td>
                        <td class='error'>{{username_err_msg}}</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password' /></td>
                        <td class='error'>{{password_err_msg}}</td>
                    </tr> 
                    <tr>
                        <td>Verify Password:</td>
                        <td><input type='password' name='v-password' /></td>
                        <td class='error'>{{v_password_err_msg}}</td>
                    </tr>
                    <tr>
                        <td>Email (optional):</td>
                        <td><input type='text' name='email' value='{{email}}'/></td>
                        <td class='error'>{{email_err_msg}}</td>
                    </tr>
                </tbody>
            </table>
            <input type='Submit' />
        </form>

{% endblock %}